In [1]:
library(tidyverse)
library(ape)

── Attaching packages ────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ───────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# constraint tree

In [2]:
fasta <- read.FASTA("../01.alignment/six_gene.fasta")
taxa_table <- as.data.frame(names(fasta))
colnames(taxa_table) <- 'taxa'

In [3]:
taxa_table <- tidyr::separate(taxa_table,taxa,into = c("class","order","family","genus","species"),sep = "_",remove = F)
taxa_table$binomial <- paste(taxa_table$genus,taxa_table$species,sep = '_')

In [4]:
phy <- read.tree('tree2/tetrapod_conglomerate_tree')
splist <- strsplit(phy$tip.label,split='_') %>% sapply(function(x){paste(x[1],x[2],sep='_')})
tetrapod <- data.frame(phy$tip.label,splist)
head(tetrapod)

  phy.tip.label          splist
1 Sphenodon_punctatus    Sphenodon_punctatus
2 Gonyosoma_oxycephalum  Gonyosoma_oxycephalum
3 Gonyosoma_jansenii     Gonyosoma_jansenii
4 Gonyosoma_prasinus     Gonyosoma_prasinus
5 Gonyosoma_margaritatus Gonyosoma_margaritatus
6 Gonyosoma_frenatus     Gonyosoma_frenatus

In [5]:
inter_tb <- inner_join(taxa_table,tetrapod,by =c('binomial'='splist'))
phy_keep <- keep.tip(phy, inter_tb$phy.tip.label)
phy_keep$tip.label <- inter_tb[match(phy_keep$tip.label,inter_tb$phy.tip.label),]$taxa

In [6]:
# write.tree(phy_keep, file = "tree2/tetrapod_conglomerate_tree.keep")

In [7]:
dplyr::select(taxa_table,binomial) %>% write.table('six_gene_phy_taxa.txt',,sep='\t',row.names = F,quote=F,col.names=F)

# fossil time

In [64]:
fossil <- read.table('./timetree_table.txt',sep = '\t',col.names = c('binomial','min','max','node'))
fossil <- left_join(fossil,taxa_table,by = 'binomial') %>% select('taxa','min','max','node')

In [62]:
node.no <- which(!is.na(fossil$node))
result <- c()
for (i in 1:length(node.no)){
    if (i != length(node.no)){
        splist <- paste(fossil$taxa[node.no[i]:(node.no[i+1]-1)],collapse = ' ')
    } else {
        splist <- paste(fossil$taxa[node.no[i]:length(fossil$taxa)],collapse = ' ')
    }
    
    first_line <- paste('mrca =',fossil$node[node.no[i]],splist,sep = ' ')
    second_line <- paste('min =',fossil$node[node.no[i]],fossil$min[node.no[i]],sep = ' ')
    third_line <- paste('max =',fossil$node[node.no[i]],fossil$max[node.no[i]],sep = ' ')
    result <- append(result,first_line) %>% append(second_line) %>% append(third_line)
}

ERROR: Error in if (fossil$min[node.no[i]] >= fossil$max[node.no[i]]) {: missing value where TRUE/FALSE needed

In [54]:
tree <- read.tree('tree2/tree2.treefile')
fossil$node <- zoo::na.locf(fossil$node)
mrca_node <- tapply(fossil$taxa,fossil$node,function(x) ape::getMRCA(tree,x)) %>% as.data.frame()

In [22]:
write.table(as.data.frame(result),'timetree_table_long.txt',col.names=F,row.names=F,quote=F)